@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');


:root{
    --primary-color: #FDA4AF;
    --secondary-color: #0E7490;
}
html{
    font-family: 'Playfair Display', serif; 
    text-align: center;
    background-color: var(--primary-color);
    color:var(--secondary-color);
    font-size: larger;
}

section{
    min-height: 100vh;
    
    
}

.main-heading{
    font-size: 28pt;
}

.hero-image{
    height: 350px;
    width: 350px;
    margin: auto;
}
#date{
    font-family: 'Playfair Display', serif; 
    width: 30%;
    padding: 0.3rem;
    text-align: center;
    font-size: large;
    border-radius: 5px;
    box-shadow: 3px 3px 3px black ;
}
#date:hover{
    cursor: pointer;
}

#btn-check{
    font-family: 'Playfair Display', serif; 
    display: block;
    margin: auto;
    margin-top: 2rem;
    padding: 0.5rem;
    background-color: black;
    color:var(--primary-color);
    font-size: large;
    /* border-radius: 15px; */
    
}

#btn-check:hover{
    cursor: pointer;
    background-color: var(--secondary-color);
    color:white;
    box-shadow: 0px 0px 10px black;
}

.top-center{
    margin:auto;
    width: 700px;
    margin-top: -3rem;
    /* height: fit-content; */
    /* vertical-align: middle;
} */
}

.down-center{
    margin: auto;
    width: 700px;
    vertical-align: middle;
}

#nearest-palindrome{
    color: black;
}

a{
    color: black;
    font-size: 16pt;
}

a:hover{
    cursor: pointer;
}

#gif{
    margin: auto;
    margin-top: 10px;
    height: 200px;
    width: 200px;

}
.refer-links{
    height: 50px;
    width: 75px;
}

  aside{
    width: min-content; 
    height:fit-content; 
    background: #F3F4F6;
     float:right;
     display: block;
     margin:auto;
  margin-top: 35vh;
  margin-right: -10px;
  opacity: 80%;
  }

  .linkedIN{
      width: 75px;
      height:60px;
  }